.container {
    margin: 50 px 0;


}
 .card {
     margin: 0 2px !important;
 }
 .infected {
     border-bottom: 10px solid rgb(0,0,250,.5);
 }
.recovered {
    border-bottom: 10px solid rgba(25, 255, 0, 0.5);
}
.deaths {
    border-bottom: 10px solid rgb(255,0,0,.5);
}