.main {
  width: 70%;
  margin: 0 auto;
  margin-top: 30px;
  padding: 0 20px;
  box-sizing: border-box;
}
.main .tabs {
  display: flex;
  font-size: 20px;
}
.main .tabs .tab {
  background: rgb(209, 80, 108);
  padding: 10px;
  margin-right: 13px;
  border-radius: 3px;
  border: 1px solid #e1e1e1;
}
.active-tabs {
  background: #0b80da !important;
  color: white;
}
.main .tabs .tab:hover {
  cursor: pointer;
  background: #e1e1e1;
}
.main .list{
  margin: 0px;;
}
